= provide(:title, 'Editar Escuela de Transporte')

= render 'escuela_transportes/escuela_transportes/shared/page_edit_new',
  url_submit: representante_legal_escuela_transporte_path(@representante_legal,@escuela_transporte)
