= provide(:title, 'Registro Escuela de Transporte')

= render 'escuela_transportes/escuela_transportes/shared/page_edit_new',
  url_submit: representante_legal_escuela_transportes_path(@representante_legal)

