<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_escuela.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_escuela_path(@tipo_escuela) %> |
<%= link_to 'Back', tipo_escuelas_path %>
