.row#ayuda_verificar_preinscripcion{style: 'display:none'}
  .col-md-12
    .panel.panel-success
      .panel-heading
        %i.fa.fa-info-circle
        Ayuda
        %button{type:'button', class:'close',id:'cerrar_ayuda_verificar_preinscripcion'}
          %span{'aria-hidden'=>"true"}
            &times;
      .panel-body
        %ul
          %li.text-justify Durante la verificación la solicitud no puede ser editada por El Representante Legal
          %li.text-justify Para visualizar cada documento haga click en el documento que desea ver
          %li.text-justify
            Si están correctos los documentos y desea seguir en la verificación haga click en
            %span{style:'color: #1A7BB9'}
              %i.fa.fa-step-forward
              continuar
          %li.text-justify
            Si desea cancelar el proceso de verificación haga click en
            %span{style:'color: #F8AC59'}
              %i.fa.fa-history
              cancelar verificación
            esto permitira la edición por parte del Representante Legal
            (posteriormente podrá verificar este tramite )
          %li.text-justify
            %span{style:'color: rgb(247, 11, 11);'}
              Si cierra esta ventana sin
              %span{style:'color: #F8AC59'}
                %i.fa.fa-history
                  cancelar verificación
              ,está estara bloqueada para la edición por el representante legal
              y en espera de un Estado definido por el funcionario
