%li
  = link_to 'Información General',verificar_informacion_general_path(@solicitud)
%li
  = link_to 'Planos de Infraestructura',verificar_planos_path(@solicitud)
%li
  %strong
    Seguro RCV por Flota

