%li
  = link_to 'Inicio', root_url
  %li
    = link_to 'Consultar otra Solicitud',verificar_preinscripcions_path(@solicitud)
  %li
    = link_to 'Información General',verificar_informacion_general_path(@solicitud)
  %li
    =link_to 'Vehículos Registrados',
      verificar_vehiculos_path(@solicitud)
  %li
    %strong
      Planos de Infraestructura
