=render 'page_wizard', partial: 'breadcrumb_info_general', nombre_vista: :informacion_general,
url_prev: nil, url_next:verificar_planos_path,
text_prev:nil,icon_prev:  '<i class="fa  fa-step-backward"></i>',
text_next: 'Continuar',icon_next: '<i class="fa fa-step-forward"></i>',
is_final_page:false
