-url = @solicitud.seguro_por_flota? ? verificar_rcv_path(@solicitud) : verificar_vehiculos_path(@solicitud)
=render 'page_wizard', partial: 'breadcrumb_planos', nombre_vista: :planos_infraestructura,
url_prev: verificar_informacion_general_path(@solicitud), url_next:url,
text_prev:'Regresar',icon_prev:  '<i class="fa  fa-step-backward"></i>',
text_next: 'Continuar',icon_next: '<i class="fa fa-step-forward"></i>',
is_final_page:false
