=render 'page_wizard', partial: 'breadcrumb_planos', nombre_tramite: :planos_infraestructura,
url_prev: verificar_vehiculos_path, url_next:verificar_planillas_path,
text_prev:'Regresar',icon_prev:  '<i class="fa  fa-step-backward"></i>',
text_next: 'Continuar',icon_next: '<i class="fa fa-step-forward"></i>',
is_final_page:false
