=render 'page_wizard', partial: 'breadcrumb_info_general', nombre_tramite: :informacion_general,
url_prev: verificar_preinscripcions_path, url_next:verificar_vehiculos_path,
text_prev:'Verificar Otra Solicitud',icon_prev:  '<i class="fa  fa-step-backward"></i>',
text_next: 'Continuar',icon_next: '<i class="fa fa-step-forward"></i>',
is_final_page:false
