=render 'page_wizard', partial: 'breadcrumb_planillas', nombre_tramite: :planillas_manejo,
url_prev: verificar_planos_path(@solicitud),
url_next: nil,
text_prev:'Regresar',icon_prev:  '<i class="fa  fa-step-backward"></i>',
text_next: nil,icon_next:  nil,
is_final_page:true