.container
  .row
    .col-xs-12
      %br/
      %br/
      %br/
      %h3
        = "Sr(a).  " + @usuario_sput.nombre
        %br/
        %br/
        %br/
      %span.message
        %span.fa.fa-check
        Se ha registrado sastifactoriamente.
        %br/
      %span.text-justify
        %br/
        %br/
        Para verificar su cuenta, debe ingresar a su correo.
        Si nos has recibido un correo electrónico dentro de unos minutos, por favor revise en las carpetas "spam ó correo no deseado".
        Si tiene problemas para verificar por email por favor
        %strong Contáctenos
        para asistencia.
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
