.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %i.fa.fa-info-circle
        Nota
      .panel-body{style: "margin-left: 10px"}
        %p
          \- Los datos con
          %span.fa.fa-asterisk.red
          son obligatorios.
          %br
          \- Los datos con
          %span.fa.fa-asterisk.verde
          indican que se debe ingresar al menos uno de esos datos
          %br
          \- El tamaño de cada Documento no puede exceder a 2 MB.
          %br
          \- Los formatos permitidos para los documentos son .jpg .pdf .png .gif
          %br
          \- Si el documento es paginado cada página debe tener nombres diferentes
