.fileinput.fileinput-new.input-group{"data-provides" => "fileinput"}
  .form-control{"data-trigger" => "fileinput"}
    - if f.object.doc.present?
      %i{class: "fa fa-upload fileinput-new"}
      %i{class: "fa fa-upload fileinput-exists"}
    - else
      %i{class: "fa fa-upload fileinput-exists"}
    %span.fileinput-filename
      = f.object.doc.present? ? f.object.doc.to_s.split('/').last : ""
  %span.input-group-addon.btn.btn-default.btn-file
    - if f.object.doc.present?
      %span{class: "fileinput-exists"} Cambiar
      %span{class: "fileinput-new"} Cambiar
    - else
      %span{class: "fileinput-new"} Subir Documento
      %span{class: "fileinput-exists"} Cambiar

    = f.file_field field
-unless help.blank?
  %span.help-block
    = help.html_safe