.ibox.float-e-margins
  .ibox-title
    %h3
      Continuar Preinscripción de Escuela de Transporte
  .ibox-content
    .row
      .col-md-12
        %table.table.table-striped
          %thead
            %th
              Número de Trámite
            %th
              Razón Social de la Escuela de Transporte
            %th
              RIF
            %th
          %tbody
            - current_session_user.escuelas_preinscritas.each do |escuela|
              %tr
                %td
                  = escuela.razonSocial
                %td
                  = escuela.rif_show
                %td
                - solicitud = escuela.solicitud(nombre_solicitud)

                -if solicitud.estado?(:preparada) or (solicitud.estado?(:completa) and (not solicitud.locked))
                  .col-sm-6
                    = link_to 'Modificar',escuela_transportes_modificar_solicitud_adecuacion_path(id: escuela),class: 'btn btn-primary btn-block'
                  -#.col-sm-6
                  -#  = link_to 'Ver Planilla', new_escuela_transportes_solicitud_final_path(id: escuela),class: 'btn btn-warning btn-block'
                - elsif solicitud.estado?(:creada)
                  .col-sm-6
                    = link_to 'Continuar Carga Documentos', route_completar_adecuacion_construccion(solicitud)||escuela_transportes_listar_personals_path(id: escuela),class: 'btn btn-primary btn-block'


