.ibox.float-e-margins
  .ibox-title
    %h3.text-center
      Lista de Planillas Cargadas
  .ibox-content
    .row
      .col-md-5.col-md-offset-4
        %table.table.table-striped
          %thead
            %tr
              %th
                Nombre Planilla
              %th
                Planilla
          %tbody{id: 'planilla_table_body'}
            - @escuela_transporte.documentos_planillas.each do |planilla|
              = render 'escuela_transportes/planillas_practica_manejo/planilla', planilla: planilla