=render 'escuela_transportes/circuitos_manejo/circuito_view', url: escuela_transportes_actualizar_circuito_path, method: :patch, remote: false
=render 'escuela_transportes/circuitos_manejo/documentos_circuitos', show: false