.row.animated.fadeInRight
  .col-md-12
    .ibox.float-e-margins
      .ibox-content
        = form_for @documento,
         url:  escuela_transportes_guardar_planillas_path(@escuela_transporte),
         method: :post ,
         html: {class: 'form-horizontal m-t-md',id:'formulario-planillas-manejo'} do |f|
          .form-group
            = render 'shared/error_messages', object: f.object,
               model: 'Modelos de Planillas Para Practica de Manejo'
          .row.col-sm-6.col-sm-offset-3#div-document-upload-planilla
            = render 'escuela_transportes/planillas_practica_manejo/file_upload',
              f: f, field: :doc ,help: nil
          = f.button(type: "submit", class: "col-sm-offset-1 btn btn-primary") do
            Cargar
            %i.fa.fa-plus-circle